<div class="container">
<h1>About vlajipno</h1>
<p>A full text dictionary for Lojban beginners to read Lojban texts. Made by <a href="http://sorpaas.com">sorpa'as plat</a>. More information comming soon.</p>
</div>