<h1><%= @definified_title.strip != "" ? @definified_title.html_safe : "(No title)" %></h1>
<p class="content"><%= @definified_content.strip != "" ? @definified_content.html_safe : "(No content yet)" %></p>

<form action="/<%= @document.name %>/edit">
<p><input type="submit" value="Edit"></p>
</form>

<script>
$(function () {
   $.widget("ui.tooltip", $.ui.tooltip, {
       options: {
           content: function () {
               return $(this).prop('title');
           }
       }
   });

   $('a.definified').tooltip();
});
</script>
